@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ddb793;
    --foreground: #6e4a27;

    --primary: #6e4a27;

    --secondary: #ca925e;
    --secondary-background: #6e4a27;
    --secondary-foreground: #ca925e;

    --border: #c07f43;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #ddb793;

    --primary: #361d13;

    --secondary: #1b0f09;
    --secondary-background: #361d13;
    --secondary-foreground: #ca925e;

    --border: #1b1309;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
